* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  text-align: center;
  background-color: #efefef;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

h2{
  font-size: calc(16px + 2vmin);
}

section {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  border: 1px solid #282c34;
  padding: 1rem;
  margin: 2rem;
  border-radius: .5rem;
}

input {
  border: 1px solid #282c34;
  color: #282c34;
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: transparent;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.output {
  margin: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid #282c34;
  background-color: transparent;
  color: #282c34;
  text-align: center;
  font-size: calc(5px + 2vmin);
  padding: .75rem;
  border-radius: .5rem;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover{
  border: 1px solid #61dafb;
    color: #61dafb;
    background-color: transparent;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark {
  background-color: #282c34;
  color: #efefef;
}

.dark section,
.dark input,
.dark button {
  border: 1px solid #efefef;
  color: #efefef;
}

.dark button:hover {
  border: 1px solid #61dafb;
  color: #61dafb;
  background-color: transparent;
}